/.idea
/*.zip
/*.tar
/*.gz
/*.html
/*.xml
/*.xmltv
/**/*.m3u
/**/*.m3u8
/**/*.log
/**/*.cache
/**/*.settings
/**/*.db
/**/*.token
/**/*.refresh_token
/mnt*.cmd
/update_config.cmd
/format_serialize.php
/test*
/*test.php
/creds.txt
/dune_plugin/dune_plugin.xml
/dune_plugin/dune_plugin_metadata.xml
/dune_plugin/providers.json
/archive
/cache_dir
/shared_scripts
/dune_fs/tmp/plugins/proiptv/*.txt
/dune_fs/flashdata/plugins_data/proiptv/*
/dune_fs/flashdata/plugins_data/proiptv/cached_img
/dune_fs/flashdata/plugins_data/proiptv/history
/dune_fs/flashdata/plugins_epfs/proiptv/proiptv.json
/dune_fs/flashdata/plugins_epfs/proiptv/proiptv.no_internet.json
/dune_fs/tmp/plugins/proiptv/vod_last_error
/dune_fs/tmp/plugins/proiptv/epfs_warmed_up
/dune_fs/tmp/plugins/proiptv/*_pl_last_error
/dune_fs/tmp/plugins/proiptv/*_rq_last_error
/dune_fs/tmp/plugins/proiptv/*.json
/dune_fs/tmp/plugins/proiptv/*.session_id
/dune_fs/tmp/plugins/proiptv/*_session_id
